.head-wrapper {
    background-image: url("../images/calming_sunset_mid.jpg");
}

.head-img-holder {
    flex: 1 1 35%;
}

.right-logo-wrapper {
    flex: 1 1 64%;
    margin: 0 2% 0 auto;
}

#nav-wrapper {
  position: static;
}

main {
    grid-column: 1/-1;
}

section {
    grid-column: 1/-1;
    align-items: stretch;
}

.main-wrapper {
    display: block;
    width: 100%;
    border-right: 0;
    border-bottom: 1px solid var(--inside_horz_border);
}

.adds-section {
    display: block;
    width: 100%;
}

#adds-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.one-add-wrapper {
    width: 48%;
}

.one-add-wrapper:nth-last-child(1):nth-child(odd) {
    width: 99.4%;
}


footer {
    flex-wrap: wrap;
}

footer ul {
    width: 48%;
    padding-bottom: 20px;
}

footer ul:nth-last-child(1):nth-child(odd) {
    width: 98%;
}

footer .empty-item {
    height: 0;
}


.back-to-top {
    width: 30px;
    height: 40px;
    background-color: #1c6f6d;
    position: fixed;
    bottom: 2rem;
    right: 0.1rem;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgba(54, 200, 188, 0.1);
    opacity: 0.6;
}

@Media screen and (min-width: 481px) and (max-width: 599px) {

    #nav-wrapper nav ul {
        float: none;
        flex-wrap: wrap;
        gap: 2px;
    }

    #nav-wrapper nav ul li {
        flex: 0 0 0;
        flex: 0 1 46%;
        border: 0 !important;
        background-color: #7f6868;
    }

    #nav-wrapper nav ul li a {
        display: inline-block;
        width: 100%;
    }

    #nav-wrapper nav ul li:nth-last-child(1):nth-child(odd) {
        flex: 0 0 46%;
    }
}

@Media screen and (min-width: 600px) and (max-width: 768px) {


    #nav-wrapper nav ul {
        float: none;
        flex-wrap: wrap;
        gap: 2px;
    }

    #nav-wrapper nav ul li {
        flex: 0 1 32%;
        border: 0 !important;
        background-color: #7f6868;
    }

    #nav-wrapper nav ul li a {
        display: inline-block;
        width: 100%;
    }

    #nav-wrapper nav ul li:nth-last-child(1):nth-child(odd) {
        flex: 0 0 32%;
    }
}


@Media screen and (max-width: 600px) {

    .head-wrapper {
        background-image: url("../images/calming_sunset_mid_sm.jpg");
    }

    .head-img-holder {
        flex: 1 1 32%;
        margin: 0 auto;
    }

    .right-logo-wrapper {
        flex: 1 1 67%;
        margin: 0 auto;
    }
}